<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Error Logs-->
    <add key="ErrorLogDirectory" value="C:\\InstantCommissionPayment\\Errors"/>
    <add key="JobDurationMilliseconds" value="5000" />
    <add key="CronJobExpression" value="0/45 0-59 0-23 * * ?" />    <!--12 AM to 11 PM every 45 second-->
    <!--<add key="CronJobExpression" value="0 30 2 1/1 * ? *" />  --><!--Every hour at 20,40-->      
  </appSettings>
</configuration>